@import url('https://fonts.googleapis.com/css2?family=Montserrat&display=swap');

$t-xl-size: 30px;
$t-lg-size: 18px;
$t-ml-size: 14px;
$t-md-size: 12px;

$t-xl-weight: 900;
$t-lg-weight: 700;
$t-ml-weight: 500;
$t-md-weight: 700;
$t-md-weight-light: 500;
